# Dependencies
node_modules/

# Build output
build/

# macOS system files
.DS_Store

# Environment variables
.env
.env.local
.env.production
.env.development.local
.env.*.local

# Local Netlify folder
.netlify/

# Editor directories
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/

# Playwright browsers
playwright/.cache/
